<h1>Home Page</h1>
<form id="addContactForm" action="index.html" method="post">
  <input type="text" name="contact[firstname]" placeholder="Firstname">
  <input type="text" name="contact[lastname]" placeholder="Lastname">
  <input type="text" name="contact[email]" placeholder="Email">
  <input type="text" name="contact[phonenumber]" placeholder="Number">
  <input type="date" name="contact[birthday]" placeholder="DOB">
  <button type="submit" name="submit">Submit</button>
</form>
