<nav class="navbar">
  <h1 class="title">Contacts</h1>
  <button class="glyphicon glyphicon-plus" id="show-form"></button>
</nav>
<div class="container">
  <ul id="order-by">
    <h3>Order By:</h3>
    <li name="firstname">Name</li>
    <li name="birthday">DOB</li>
    <li name="created_at">Date Created</li>
  </ul>
  <form class="form" id="addContactForm" action="index.html" method="post">
    <h2>Add A Contact</h2>
    <div class="form-group">
      <input id="create-firstname" class="form-control" type="text" name="contact[firstname]" placeholder="Firstname">
    </div>
    <div class="form-group">
      <label for="create-lastname"></label>
      <input class="form-control" id="create-lastname" type="text" name="contact[lastname]" placeholder="Lastname">
    </div>
    <div class="form-group">
      <label for="create-email"></label>
      <input class="form-control" id="create-email" type="text" name="contact[email]" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="create-pnumber"></label>
      <input class="form-control" id="create-pnumber" type="text" name="contact[phonenumber]" placeholder="Number">
    </div>
    <div class="form-group">
      <label for="create-birthday"></label>
      <input class="form-control" id="create-birthday datetimepicker" type="text" name="contact[birthday]" placeholder="DOB">
    </div>
    <button class="btn btn-primary" type="submit" name="submit">Submit</button>
  </form>
  <div id="contactlist"></div>
</div>
